body {
   background: #D5CABD;
   margin: 0;
   padding: 0;
}

h1 {
   text-align: center;
}

#visita {
   font-style: italic;
   color: #845EC2;
   font-size: 26px;
   font-family: 'Courier New', Courier, monospace;
}

.box1 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 6px;
   right: 6px;
   background: #845EC2;
}

.box2 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 6px;
   right: 111px;
   background: #4E8397;
}

.box3 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 111px;
   right: 6px;
   background: #4E8397;
}

.box4 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 111px;
   right: 111px;
   background: #845EC2;
}

.box5 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 59px;
   right: 56px;
   background: #9cc3e2;
}

.box5:hover {
   background-color: rgba(0, 0, 0, 0.578);
   background-color: #cccccc;
   background-image: radial-gradient(rgb(166, 0, 255), rgb(0, 0, 0));
   border-radius: 50px;
}
   

#banner {
   height: 70%;
   padding: 15px 15px;
}

.boxBanner {
   display: flex;
   justify-content: center;
   position: absolute;
   width: 100%;
   background: #9cc3e2;
   top: 0;
   left: 0;
   height: 220px;
}

.conteudo {
   position: absolute;
   width: 100%;
   top: 250px;
}

.menuTopo {
   position: absolute;
   top: 175px;
   left: 0;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: 0;
}

li {
   float: left;
}

li a {
   display: block;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
   text-transform: uppercase;
}

li a:hover {
   background: #d5d98a64;
   color: rgb(247, 1, 1);
}

.rodape {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
}

#copy {
   background: #b96fcb;
   border-radius: 30px;
   width: 50%;
   display: flex;
   justify-content: center;
   font-size: 18px;
}