body {
   background: #D5CABD;
}
h1 {
    text-align: center;
}
#visita {
   font-style: italic;
   color: #845EC2;
   font-size: 26px;
   font-family: 'Courier New', Courier, monospace;
}
.box1 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 6px;
   right: 6px;
   background: #845EC2;
}
.box2 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 6px;
   right: 111px;
   background: #4E8397;
}
.box3 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 111px;
   right: 6px;
   background:  #4E8397;
}

.box4 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 111px;
   right: 111px;
   background: #845EC2;
}

.box5 {
   position: absolute;
   width: 100px;
   height: 100px;
   top: 56px;
   right: 56px;
   background:#9cc3e2;
}
.box5:hover {
   background:#000000;
}

#banner {
   width: 45%;
   padding: 15px 15px;
}
.boxBanner {
    position: absolute;
    width: 100%;
    background: #9cc3e2;
    top: 0;
    left: 0;
    height: 220px;
}
.conteudo {
   position: absolute;
   width: 100%;
   top: 250px;
}